html, body, canvas {
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    background-color: #181818;
}

main {
    display: none;
    padding: 10px;
}
a {
    color: #3391ff;
}
.error-message {
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}